.bottom-body{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;       
}

.return-picture{
    width: 60%;
    height: 550px;
}

.return-body{
    width: 35%;
}

.return-box{
    box-shadow: 10px 10px 5px grey;
    height: 269px;
}



::placeholder { 
    color: rgb(73, 73, 73);
    opacity: 1; 
}

::placeholder:hover { 
    color: rgba(73, 73, 73, 0);
}

.ozv-button{
    margin-top: 69px;
    height: 2px;
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white ;
    line-height: 0.06em;
    background-color: rgb(34, 96, 231);
    border-style: solid;
    border-color: rgb(34, 96, 231);
    border-radius: 120px;
    box-shadow: 0 0px #999;
}

.ozv-button:hover{
    margin-top: 69px;
    height: 2px;
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white ;
    line-height: 0.06em;
    background-color: rgb(34, 96, 231);
    border-style: solid;
    border-color: black;
    border-radius: 120px;
    box-shadow: 0 0px #999;
}

.return-input{
    height:20px;
    background-color:rgba(185, 194, 243, 0.493);
    border-color: rgba(185, 194, 243, 0.493);
    text-align:right; 
    border-radius: 120px; 
    width:100%;
}

.return-input:hover{
    height:20px;
    background-color:white;
    text-align:right; 
    border-radius: 120px; 
    border-color: rgb(34, 96, 231);
    width:100%;
}